# Python fundamentals & libraries: Numpy & Pandas
# Kiarash Geraili, Computer Science student at AmirKabir University of Technology
# Data Mining ourse By Adel Mohammadpour
# Teaching Assistant: Vahid Mahzoon

In [30]:
#in this python file we summerize the noticable points of first 2 classes of python teaching assistat
#we aassume that the basic ideas of programming is trivial for the reader
#if you are a persian language native you can use the link down below to find the videos of this course
#www.apart.com/playlist/347907
#consider that this file has some changes from the videos even though both (videos and this python file)using same ideas about learning python

In [16]:
#so we summerize the specific features of python in this serie of jupyter files
#first of all we use # to comment in a pyhton file

In [17]:
#in order to bold the text we use # with a whitespace using markdown instead of code 
#like what we wrote above in this file and like below

# input

In [21]:
inputx = input("Enter x please: ")
print(inputx)

Enter x please: 22
22

In [24]:
inputx+1
#input result is a string so if you want to use it as an integer for example
#you should change its type

TypeError: can only concatenate str (not "int") to str

In [25]:
int(inputx)+1

23

# Values, Expressions, Statements

In [9]:
#in python we can not define a variable using values in at the first of the name of the variable
2x = 12

SyntaxError: invalid syntax (<ipython-input-9-a36e954322e5>, line 2)

In [27]:
type(5 > 4)

bool

In [29]:
x = (not 4 == 3) and 5>3
print( type(x) ,x )

<class 'bool'> True

In [10]:
x = 2**3 
print(x)

8

In [11]:
17//3 #floor

5

In [13]:
17%3

2

In [31]:
name = "kiarash"
last_name = "geraili"

print(name + "  " + last_name)

kiarash  geraili

In [49]:
A = int(input("Please enter your age: ")) 

if  (A < 30 and A > 18):
    print("you are young!")
elif (A >30 and A < 150):
    print("you are adult")
elif A >= 150:
    print("99% You are dead! :D")
else:
    print("you are infant")

Please enter your age: 170
99% You are dead! :D

# Built In Functions

In [50]:
int(10.001)

10

In [51]:
max(100 , 5 , 8)

100

In [79]:
min(range(1,3))

1

In [52]:
max("Kiarash")

's'

In [55]:
min("s" , 2)
#we can not compare a string with an integer or float for exapmle

TypeError: '<' not supported between instances of 'int' and 'str'

# Some Basic Libraries

In [42]:
import math
#using import we can include/import a library to use it in our code

In [58]:
math.cos(0.8)

0.6967067093471654

In [62]:
math.sqrt(2) == 2**0.5

True

In [63]:
math.sqrt(2)

1.4142135623730951

In [64]:
import random as r
#we use as to summerize a library which we usually use too much
#to reduce and simplized our code

In [66]:
r.random()
#return a random value between 0 , 1

0.8533952778356666

In [68]:
r.randint(2,12)

10

# User_Defined Functions

In [2]:
#using if statement above we want to denife a function
#which gets your age and prints your range age

def my_function1(a):
    if  (a < 30 and a > 18):
        print("Young")
    elif (a >30 and a < 150):
        print("Adult")
    elif a >= 150:
        print("99% dead! :D")
    else:
        print("Infant")
    
    
a = int(input("Please enter your age: ")) 
my_function1(a)

Please enter your age: 11
Infant

In [75]:
#this function gets two number like a , b and returnes cos(a+b)+sin(a-b)

def my_function2(x , y):
    return math.cos(x + y) + math.sin(x - y)


a = float(input("Please enter a float number a: "))
b = float(input("Please enter a float number b: "))
print("The result of cos(a+b) + sin(a-b) is: " , my_function2(a , b))

Please enter a float number a: 1.109
Please enter a float number b: 5
The result of cos(a+b) + sin(a-b) is:  1.666073059050583

# Iterations

In [80]:
n = 7

while n > 0:
    print(n)
    n = n - 1

7
6
5
4
3
2
1

In [84]:
#range() function has integer intercalls so
#range(x ,y) consist of y-x numbers

#this code below produces 5 numbers in range of (0,1)

for i in range(2, 7):
    print(r.random())

0.3169728827869236
0.06667895245568056
0.4176437557137844
0.7433076414761924
0.5679193769463905

In [5]:
students = ['kiarash','john','peter','vahid']
#this is  a list which is a kind of built in data structures in python
#we will talk about python data structures down below in this file 
#in this code we gets each student's age and returns the age range of each one

for student in students:
    
    a = int(input("Please enter " +  student + "'s age: "))
    print(str(student) + " is in age range: ")
    my_function1(a)

Please enter kiarash's age: 22
kiarash is in age range:
Young
Please enter john's age: 8
john is in age range:
Infant
Please enter peter's age: 190
peter is in age range:
99% dead! :D
Please enter vahid's age: 0
vahid is in age range:
Infant

# String

In [9]:
a = 'Theodor'
#we can see a string as an array

for i in range(0, len(a)):
    print(i, a[i])

0 T
1 h
2 e
3 o
4 d
5 o
6 r

In [10]:
for i in a:
    print(i)

T
h
e
o
d
o
r

In [53]:
count = 0
#how many 'o' does a string like 'Theodor' have?
#follow loop do the same as str.count() method
for letter in a:
    if letter=='o':
        count = count + 1
        
print(count)
print(a.count('o'))

2
2

In [32]:
string = 'I Hate Covid-19 So Much!'

#in python if you have a list
#you can use list[x:y] to access from the x's element of list to y's element of it 
#if you do not write anything instead of x it means you want it from the first element
#and if you do not write anything instead of y it means you want it to the last element

a = string[3: len(string)-3]
b = string[:9]
c = string[7:]

print(a)
print(b)
print(c)

ate Covid-19 So Mu
I Hate Co
Covid-19 So Much!

In [33]:
string[2] = a
#we can not assing an element to a specific letter of a string

TypeError: 'str' object does not support item assignment

In [34]:
'b' in 'Boz'

False

In [35]:
'b' in 'boz'

True

In [36]:
'a'>'b'

False

In [39]:
'a'>'bbb'
#comparsion between strings depends on the arrangement of the alphabet not the length

False

In [45]:
print(string.upper())
print(string.lower())

I HATE COVID-19 SO MUCH!
i hate covid-19 so much!

In [52]:
#directions of an object 

count = 0

for i in range(0,len(dir(str))):
    print(dir(str)[i])
    count= count + 1
print('The str object has '+ str(count) + ' directions')

__add__
__class__
__contains__
__delattr__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getitem__
__getnewargs__
__gt__
__hash__
__init__
__init_subclass__
__iter__
__le__
__len__
__lt__
__mod__
__mul__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__rmod__
__rmul__
__setattr__
__sizeof__
__str__
__subclasshook__
capitalize
casefold
center
count
encode
endswith
expandtabs
find
format
format_map
index
isalnum
isalpha
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper
join
ljust
lower
lstrip
maketrans
partition
replace
rfind
rindex
rjust
rpartition
rsplit
rstrip
split
splitlines
startswith
strip
swapcase
title
translate
upper
zfill
The str object has 78 directions

In [55]:
a = 'Theodor'

a.find('o')
#finds the first location of a specific letter

3

In [59]:
'    *  kia is short term of kiarash *   '.strip()
#delete the whitespace of first and end of a string

'*  kia is short term of kiarash *'

# Data Structures

In [29]:
list_0 = ['john','peter','mohammad']
#List is a collection which is ordered and changeable. Allows duplicate members.
#as we told before you access the list items by referring to the index number

list_1 = [1,13,9.02,'Ali','x']
list_1

[1, 13, 9.02, 'Ali', 'x']

In [30]:
list_2 = [list_0 , list_1]
print(list_2)

[['john', 'peter', 'mohammad'], [1, 13, 9.02, 'Ali', 'x']]

In [31]:
for x in list_2:
    print(x)

['john', 'peter', 'mohammad']
[1, 13, 9.02, 'Ali', 'x']

In [33]:
list_0 + list_1 + list_2
#we can add two or more lists

['john',
 'peter',
 'mohammad',
 1,
 13,
 9.02,
 'Ali',
 'x',
 ['john', 'peter', 'mohammad'],
 [1, 13, 9.02, 'Ali', 'x']]

In [39]:
x = [1,2,3,4,5]
#this list has 5 itmes, indexed 0 to 4
#notice that we can not add an item using index [5] for the list
x[5] = 1000

IndexError: list assignment index out of range

In [40]:
#in order to add an element we should use a method named .append()

x.append(1000)
x[5]

1000

In [45]:
[math.sqrt(item) for item in x]
#defining a list in which each element of this new list is the squered element of list x

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 31.622776601683793]

In [9]:
L1 = [1 , 2 , 3]
L2 = ['a','b','c']

print(L1 + L2)

L1.extend(L2)
print(L1)

L1 = [1 , 2 , 3]

L1.append(L2)
print(L1)

#you can easily find out that extending one list with another one is like adding or merging two lists
#but appending a list to another one is like adding the first list into the end of last list

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, ['a', 'b', 'c']]

In [17]:
L3 = list()
L3.append(1,2)
#we can not append 2 items at the same time

TypeError: append() takes exactly one argument (2 given)

In [24]:
L3 = [5,3,4,1]
L3.sort()
print(L3)

pop_item = L3.pop()
print(L3,pop_item)
#pop put out the last item of a list

max(L3)

[1, 3, 4, 5]
[1, 3, 4] 5

4

In [26]:
string = 'Dialectic of Enlightenment is a work of philosophy and social criticism'
words_of_string = string.split()
#this method split the string by whitespace as default

words_of_string

['Dialectic',
 'of',
 'Enlightenment',
 'is',
 'a',
 'work',
 'of',
 'philosophy',
 'and',
 'social',
 'criticism']

In [27]:
words_of_string = string.split('a')
words_of_string

['Di',
 'lectic of Enlightenment is ',
 ' work of philosophy ',
 'nd soci',
 'l criticism']

In [30]:
'a'.join(words_of_string)
#this is a reverse of split method

'Dialectic of Enlightenment is a work of philosophy and social criticism'

In [32]:
'OOO'.join(words_of_string)

'DiOOOlectic of Enlightenment is OOO work of philosophy OOOnd sociOOOl criticism'

In [33]:
LST1 = [1,2,3]
LST2 = [1,2,3]

LST1 == LST2
#check that are all the elements of these two lists equal

True

In [35]:
LST1 is LST2
#check that are these two lists exactly the same? which trivially are not

False

In [36]:
Dict = dict()
#A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.
#we can also creat a dictionary using dict() function

Dict['Kiarash'] = 88
Dict['Peter'] = 50
Dict['Mohammad'] = 100

Dict

{'Kiarash': 88, 'Peter': 50, 'Mohammad': 100}

In [39]:
#we can say that each list is a kind of dictionary
#even though it is just an intuition and we can not consider a dictionary equal or as same as a list
[1,2,3] == {0:1 , 1:2 , 2:3}

False

In [40]:
[1,2,3] is {0:1 , 1:2 , 2:3}

False

In [43]:
Dict.keys()

dict_keys(['Kiarash', 'Peter', 'Mohammad'])

In [44]:
Dict.values()

dict_values([88, 50, 100])

In [45]:
# 'in' check that an element does belong to the keys of a dictionary or not
# we can not use 'in' for checking values

'Kiarash' in Dict

True

In [46]:
88 in Dict

False

In [58]:
test = 'Jacques Lacan\'s first official contribution to psychoanalysis was the mirror stage.'

counter=dict()

#we want to use a dictionary like counter to find out how much each letter repeated in test string

for i in test:
    if i in counter:  
        counter[i] = counter[i] + 1
    else:
        counter[i] = 1
        
for i in counter:
    print('The word ' + str(i) + ' appeared ' + str(counter[i]) + ' times')

The word J appeared 1 times
The word a appeared 8 times
The word c appeared 5 times
The word q appeared 1 times
The word u appeared 2 times
The word e appeared 3 times
The word s appeared 8 times
The word   appeared 10 times
The word L appeared 1 times
The word n appeared 4 times
The word ' appeared 1 times
The word f appeared 3 times
The word i appeared 7 times
The word r appeared 5 times
The word t appeared 6 times
The word o appeared 6 times
The word l appeared 2 times
The word b appeared 1 times
The word p appeared 1 times
The word y appeared 2 times
The word h appeared 2 times
The word w appeared 1 times
The word m appeared 1 times
The word g appeared 1 times
The word . appeared 1 times